In [13]:
import pandas as pd
import numpy as np
import json

In [14]:
from pandas import Series, DataFrame

In [15]:
obj = """
{"name":"Wes",
 "places_lived": ["United States", "Spain","Germany"],
 "pet": null, "siblings":[{"name":"Scott","age":25,"pet":"Zuko"},
                             {"name":"Katie","age":33,"pet":"Cisco"}]

}
"""

In [16]:
result = json.loads(obj)

In [17]:
result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 25, 'pet': 'Zuko'},
  {'name': 'Katie', 'age': 33, 'pet': 'Cisco'}]}

In [18]:
asjson = json.dumps(result)

In [19]:
asjson

'{"name": "Wes", "places_lived": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Scott", "age": 25, "pet": "Zuko"}, {"name": "Katie", "age": 33, "pet": "Cisco"}]}'

In [21]:
siblings = DataFrame(result['siblings'], columns = ['name', 'age'])

In [22]:
siblings

    name  age
0  Scott   25
1  Katie   33

In [23]:
from lxml.html import parse

In [27]:
from urllib.request import urlopen

parsed = parse(urlopen('http://finance.yahoo.com/q/op?s=AAPL+Options'))

In [28]:
doc = parsed.getroot()

In [39]:
links = doc.findall('.a')

In [ ]:
# 6.1.5 다시 해보기 (2021.1.14)

In [45]:
import io

In [46]:
tag = '<a href="http://www.google.com">Google</a>'

root = objectify.parse(io.StringIO(tag)).getroot()

In [47]:
root

In [48]:
root.get('href')

'http://www.google.com'

In [49]:
root.text

'Google'

## 6.2 이진 데이터 형식

In [53]:
import pickle

In [50]:
frame = pd.read_csv('ch06/ex1.csv')

In [51]:
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [55]:
with open("frame_pickle", "wb") as file:
    pickle.dump( frame, file)

In [56]:
with open("frame_pickle", "rb") as file:
    loaded_data = pickle.load(file)
    print(loaded_data)

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [57]:
store = pd.HDFStore('mydata.h5')

In [58]:
store['obj1'] = frame

In [59]:
store['obj1_col'] = frame['a']

In [60]:
store

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5

In [61]:
store['obj1']

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

## 6.3 html, 웹 API와 함께 사용하기

In [65]:
import requests

In [66]:
url = 'http://search.twitter.com/search.json?q=python%20pandas'

In [67]:
resp = requests.get(url)

In [68]:
resp

In [69]:
import json

In [70]:
data = json.loads(resp.text)

In [71]:
data.keys()

dict_keys(['errors'])

In [ ]:
# 6.3 다시 해보기

## 6.4 데이터베이스와 함께 사용하기

In [72]:
import sqlite3

In [74]:
query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
c REAL, d INTERGER
);"""
con = sqlite3.connect(':memory:')
con.execute(query)
con.commit()

In [78]:
data = [('Atlanta', 'Georgia', 1.25, 6),
        ('Tallahassee', 'Florida', 2.6, 3),
        ('Sacramennto', 'California', 1.7, 5)]
stmt = "INSERT INTO test VALUES(?,?,?,?)"

con.executemany(stmt, data)
con.commit

In [79]:
cursor = con.execute('select * from test')

In [80]:
rows = cursor.fetchall()

In [81]:
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramennto', 'California', 1.7, 5)]

In [82]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [84]:
DataFrame(rows, columns = zip (*cursor, description)[0])

NameError: name 'description' is not defined

In [85]:
import pandas.io.sql as sql

In [86]:
sql.read_frame('select * from test', con)

AttributeError: module 'pandas.io.sql' has no attribute 'read_frame'